
@{
    ViewData["Title"] = "NotStarted";
}

<hr />
<div class="text-center col-md-6 offset-md-3">
    <h3>Quiz not started yet...</h3>
    <p>Hang on, im sure your host won't be long :)</p>
</div>

<hr />

<script defer>
    setTimeout(function () { location.reload; }, 3000);
</script>
